<h1>Homepage</h1>
<ul>
  <li><a href='/about'>About</a></li>
  <li><a href='/contact'>Contact</a></li>
  <li><a href='/signup'>Register</a></li>
  <li><a href='/signin'>Login</a></li>
</ul>

<img src='images/planets.png' alt='planets' width='600' />